div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  background-color: #055;
  margin-right: 2px;
}
*{
  background-color:lightblue;
}
/*. The axes themselves(axis) are made up of path, line, and text elements,*/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
text {
  fill:olive;
}